[core]
  pager = less -r
  editor = vim
[color]
  ui = auto 
[alias]
#co = checkout
#st = status

# via http://d.hatena.ne.jp/yuroyoro/20101008
# mergeの際にconflictが起きたファイルを編集
edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim -p `f`"
# mergeの際にconflictが起きたファイルをadd
add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
[http]
	sslVerify = false
[include]
  path = .gitconfig.local
